.header {
	height: 40px;
	background-color: #FFF;
}

.header .opacity {
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.header .nav {
	width: 1160px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;/* 把该元素设置了绝对定位，并且把 left 和 right 属性设置为 0 后，如果该元素没有设置宽度就可以适应父元素的宽度实现居中。如果该元素设置了宽度，就可以再通过设置 margin: 0 auto; 对该元素实现居中。 */
}

.header .nav .logo {
	margin: 60px 0 0 20px;/* 这里的 margin-top 的值是从该元素上面的浮动元素的顶端开始计算的，因为该元素上面是浮动元素，该元素自己不是浮动元素，所以浮动元素占据的高度是该元素的 margin-top 的值。 */
	clear: right;
}

.header .left {
	float: left;
}

.header .left .list {

}

.header .left .list li {
	float: left;
}

.header .left .list li a {
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: black;
	padding: 0 18px;
}

.header .left .list li:first-child a {
	padding: 0 18px 0 32px;
	background: url(../images/icons.png) -910px -75px no-repeat;
}

.header .left .list li a {
	transition: background-color 0.3s ease;
}

.header .left .list li:hover a {
	background-color: rgba(255,255,255,0.8);
}

.header .right {
	float: right;
}

.header .right .rt {
	float: right;
}

.header .right .contribute {
	width: 58px;
	height: 48px;
	background: url(../images/contribute.png) no-repeat;
}

.header .right .contribute .bute {
	display: block;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	letter-spacing: 5px;
}

.header .right .head {
	width: 35px;
	height: 40px;/* 注意：height 属性的 % 是根据当前元素的父元素的 height 属性的值确定的，强调父元素必须要设置 height 属性，子元素的 height 属性用 % 才会有效。 */
	padding: 0 10px;
	position: relative;
	cursor: pointer;
}

.header .right .head .circle {
	display: block;
	width: 35px;
	border-radius: 20px;
	position: relative;
	top: 2.5px;
}

.header .right .history a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	color: black;
	text-decoration: none;
}

.header .right .history a:hover {
	background-color: rgba(255,255,255,0.5);
}


.header .nav .game {
	position: absolute;
	left: 0;
	top: 48px;
	z-index: 5;
	background-color: #FFF;
	width: 466px;
	height: 256px;
	display: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

.header .nav .game .g_left {
	float: left;
	width: 264px;
}

.header .nav .game .g_left .up {
	position: relative;
	margin-bottom: 12px;
	height: 128px;
	cursor: pointer;
	margin: 12px 12px 5px 12px;
}

.header .nav .game .g_left .up span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
	color: #FFF;
	padding: 5px 0 5px 12px;
}

.header .nav .game .g_left .down div {
	float: left;
	width: 64px;
	padding: 6px 12px 16px;
	text-align: center;
}

.header .nav .game .g_left .down div:hover {
	background-color: #e5e9ef;
	cursor: pointer;
}

.header .nav .game .g_left .down div:last-child {
	margin-right: 0;
}

.header .nav .game .g_left .down div img {
	width: 64px;
}

.header .nav .game .g_left .down div span {
	display: inline-block;
	padding-top: 10px;
}

.header .nav .game .g_right {
	float: left;
	padding: 12px 12px 0 0;
	width: 190px;
}

.header .nav .game .g_right .up {
	height: 29px;
	overflow: hidden;
	background: url(../images/index/01/05.png) no-repeat;
	line-height: 29px;
}

.header .nav .game .g_right .up span {
	float: right;
	color: #00a1d6;
	cursor: pointer;
}

.header .nav .game .g_right .down {
	height: 202px;
	overflow: hidden;
}

.header .nav .game .g_right .down .list2 {
	padding-top: 6px;
	margin-left: 6px;
	height: 196px;
	box-shadow: -1px 0 4px rgba(0,0,0,0.2);
}

.header .nav .game .g_right .down .list2 li {
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	font-size: 12px;
	float: none;
}

.header .nav .game .g_right .down .list2 li:hover {
	background-color: #e5e9ef;
	cursor: pointer;
}

.header .left .list .gaming:hover .game{
	display: block;
}

.header .right .head .heading {
	width: 320px;
	height: 309px;
	border: 1px solid #ccc;
	background-color: #FFF;
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 1;
	padding: 12px;
	display: none;
}

.header .right .head:hover .heading {
	cursor: auto;/* 注意：cursor 属性是会继承的。 */
	display: block;
}

.header .right .head .heading .text {
	margin-bottom: 10px;
	height: 25px;
	line-height: 25px;
	color: #6d757a;
}

.header .right .head .heading .content {
	width: 320px;
	height: 200px;
	position: relative;
}

.header .right .head .heading .content .word1 {
	position: absolute;
	top: 0;
	left: 0;
}

.header .right .head .heading .content .word2 {
	position: absolute;
	top: 0;
	left: 320px;
	display: none;
}

.header .right .head .heading .button {
	margin: 10px 0;
	width: 100%;/* 注意：input 元素以及 button 元素都无法通过设置绝对定位 和 left 属性为 0 和 right 属性为 0 的方法实现占满父元素的内容宽度。 */
	padding: 10px;
	background-color: #00a1d6;
	text-align: center;
	color: #FFF;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.header .right .head .heading .bottom {
	text-align: center;
	margin-top: 3px;
	font-size: 12px;
}

.header .right .head .heading .bottom span:first-child {

}

.header .right .head .heading .bottom a:link {
	text-decoration: none;
}

.header .right .head .heading .bottom a span {
	color: #00a1d6;
}

.header .right .contribute .contributing {
	position: absolute;
	right: 0;
	top: 40px;
	width: 360px;
	height: 64px;
	overflow: hidden;
	background-color: #FFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	z-index: 1;
}

.header .right .contribute:hover .contributing {
	display: block;
}

.header .right .contribute .contributing a {
	float: left;
	width: 72px;
	height: 64px;
	position: relative;
	color: #f25d8e;
	letter-spacing: 0;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
}

.header .right .contribute .contributing a:hover {
	background-color: #e5e9ef;
}

.header .right .contribute .contributing a span {
	/* 注意：这里可以把 span 设置成绝对定位的元素，但是需要注意的是绝对定位的元素是不能通过 text-align 属性进行居中的。 */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
}

.header .right .contribute .contributing .c1 div {
	height: 30px;
	background: url(../images/icons.png) -508px -908px no-repeat;
}

.header .right .contribute .contributing .c2 div {
	height: 30px;
	background: url(../images/icons.png) -508px -971px no-repeat;
}

.header .right .contribute .contributing .c3 div {
	height: 30px;
	background: url(../images/icons.png) -444px -908px no-repeat;
}

.header .right .contribute .contributing .c4 div {
	height: 30px;
	background: url(../images/icons.png) -444px -971px no-repeat;
}

.header .right .contribute .contributing .c5 div {
	height: 30px;
	background: url(../images/icons.png) -444px -1740px no-repeat;
}

.logo {
	width: 1920px;
	height: 106px;
	position: relative;
}

.logo .bg {
	width: 1920px;
	height: 86px;
	background-color: #00a0d8;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.logo .content {
	width: 980px;
	margin: 0 auto;
	height: 106px;
	background: url(../images/login/01.png) 0 0 no-repeat;
}

/* main */
.main {
	width: 1920px;
	height: 515px;
}

.main .content {
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

.main .content .up {
	width: 100%;
	height: 90px;
	line-height: 90px;
	position: relative;
}

.main .content .up div {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.main .content .up .left,
.main .content .up .right {
	width: 432px;
	height: 1px;
	background-color: #ddd;

}

.main .content .up .right {
	right: 0;
}

.main .content .up .center {
	width: 116px;
	height: 90px;
	line-height: 90px;
	font-size: 38px;
	color: #707070;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.main .content .down {
	width: 100%;
	height: 344px;
	padding-bottom: 81px;
}

.main .content .down form {
	width: 417px;
	margin: 0 auto;
}

.main .content .down input[type="text"],
.main .content .down input[type="password"],
.main .content .down select,
.main .content .down button {
	border-radius: 3px;
	background-color: #FFF;
	margin: 0 0 25px 0;
}

.main .content .down input[type="text"],
.main .content .down input[type="password"] {
	width: 413px;
	border: 1px solid #ccc;
	height: 35px;
	text-indent: 12px;
	color: #ccc;
	font-size: 14px;
}



.main .content .down select {
	border: 1px solid #ccc;
	width: 90px;
	height: 39px;
	float: left;
}

.main .content .down input[type="text"].phone {
	width: 318px;
	float: right;
}

.main .content .down .email {
	clear: left;
	text-align: right;
	height: 14px;
	line-height: 14px;
	margin: 15px 0;
}

.main .content .down .email a {
	text-decoration: none;
}

.main .content .down .email a:link,
.main .content .down .email a:visited {
	color: #00a1d6;
}

.main .content .down .wrapper {
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 35px;
	overflow: hidden;
	padding: 1px;
}

.main .content .down .wrapper input {
	width: 220px;
	border-radius: 0;
	border: none;
	padding-right: 30px;
}

.main .content .down .wrapper button{
	width: 130px;
	border-radius: 3px;
	background-color: #00a1d6;
	color: #FFF;
	height: 35px;
	border: none;
	float: right;
	cursor: pointer;
}

.main .content .down .remind {
	margin: 10px 0;
	line-height: 1.5;
}

.main .content .down .remind label {
	color: #626262;
}

.main .content .down .remind label a {
	color: #00a1d6;
	text-decoration: none;
}

.main .content .down .remind label a:link,
.main .content .down .remind label a:hover {
	color: #00a1d6;
}

.main .content .down .last {
	text-align: right;
}

.main .content .down .last a {
	text-decoration: none;
}

.main .content .down .last a:link,
.main .content .down .last a:visited {
	color: #00a1d6;
}

.main .content .down form button[type="submit"] {
	margin: 20px 0;
	width: 417px;
	border: none;
	height: 38px;
	text-indent: 12px;
	color: #959595;
	font-size: 14px;
	background-color: #f9f9f9;
}


/* footer */
.footer {
	height: 322px;
	background-color: #f6f9fa;
}

.footer .ks-up-footer {
	width: 1160px;
	height: 112px;
	margin: 0 auto;
	padding-top: 40px;
}

.footer .ks-up-footer .ks-up-left,
.footer .ks-up-footer .ks-up-center,
.footer .ks-up-footer .ks-up-right {
	float: left;
	height: 112px;
}

.footer .ks-up-footer .ks-up-left {
	width: 400px;
	border-right: 1px solid #e5e9ef;
}

.footer .ks-up-footer .ks-up-left .ks-up-text,
.footer .ks-up-footer .ks-up-center .ks-up-text {
	color: #7d7d7d;
	margin-bottom: 15px;
	font-size: 14px;
}

.footer .ks-up-footer .ks-up-left .ks-left,
.footer .ks-up-footer .ks-up-center .ks-left {
	float: left;
	margin-right: 60px;
}

.footer .ks-up-footer .ks-up-left .ks-left p,
.footer .ks-up-footer .ks-up-center .ks-left p {
	font-size: 14px;
	line-height: 2.2;
}

.footer .ks-up-footer .ks-up-left .ks-left p a,
.footer .ks-up-footer .ks-up-center .ks-left p a {
	text-decoration: none;
}

.footer .ks-up-footer .ks-up-left .ks-left p a:link,
.footer .ks-up-footer .ks-up-center .ks-left p a:link,
.footer .ks-up-footer .ks-up-left .ks-left p a:visited,
.footer .ks-up-footer .ks-up-center .ks-left p a:visited {
	color: #000;
}

.footer .ks-up-footer .ks-up-left .ks-left p a:hover,
.footer .ks-up-footer .ks-up-center .ks-left p a:hover {
	color: #00aeef;
}

.footer .ks-up-footer .ks-up-center {
	width: 404px;
	border-right: 1px solid #e5e9ef;
	padding-left: 35px;
}

.footer .ks-up-footer .ks-up-right {
	width: 319px;
	text-align: center;
}

.footer .ks-up-footer .ks-up-right a {
	text-decoration: none;
}

.footer .ks-up-footer .ks-up-right a:link,
.footer .ks-up-footer .ks-up-right a:visited {
	color: #000;
}

.footer .ks-up-footer .ks-up-right .ks-right {
	width: 76px;
	height: 88px;
	display: inline-block;
	text-align: center;
	position: relative;
}

.footer .ks-up-footer .ks-up-right a:hover {
	color: #00aeef;
}

.footer .ks-up-footer .ks-up-right .d1 {
	background: url(../images/icons.png) -1016px -196px no-repeat;
}

.footer .ks-up-footer .ks-up-right .d2 {
	background: url(../images/icons.png) -1016px -324px no-repeat;
}

.footer .ks-up-footer .ks-up-right .d3 {
	background: url(../images/icons.png) -1016px -68px no-repeat;
}

.footer .ks-up-footer .ks-up-right .ks-right span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	font-size: 13px;
}

.footer .ks-down-footer {
	width: 1160px;
	height: 140px;
	padding-top: 30px;
	margin: 0 auto;
}

.footer .ks-down-footer .ks-down-left {
	width: 96px;
	float: left;
}

.footer .ks-down-footer .ks-down-right {
	padding-left: 20px;
	width: 1044px;
	float: left;
}

.footer .ks-down-footer .ks-down-right p {
	color: #7d7d7d;
	font-size: 12px;
	line-height: 2;
}

.footer .ks-down-footer .ks-down-right .a1,
.footer .ks-down-footer .ks-down-right .a2,
.footer .ks-down-footer .ks-down-right .a3,
.footer .ks-down-footer .ks-down-right .a4,
.footer .ks-down-footer .ks-down-right .a5,
.footer .ks-down-footer .ks-down-right .a6 {
	text-decoration: none;
	display: inline-block;
}

.footer .ks-down-footer .ks-down-right .a1,
.footer .ks-down-footer .ks-down-right .a3 {
	padding-left: 22px;
}

.footer .ks-down-footer .ks-down-right .a1:link,
.footer .ks-down-footer .ks-down-right .a2:link,
.footer .ks-down-footer .ks-down-right .a3:link,
.footer .ks-down-footer .ks-down-right .a4:link,
.footer .ks-down-footer .ks-down-right .a5:link,
.footer .ks-down-footer .ks-down-right .a6:link {
	color: #aaaaaa;
	transition: color 0.2s ease;
}

.footer .ks-down-footer .ks-down-right .a1:hover,
.footer .ks-down-footer .ks-down-right .a2:hover,
.footer .ks-down-footer .ks-down-right .a3:hover,
.footer .ks-down-footer .ks-down-right .a4:hover,
.footer .ks-down-footer .ks-down-right .a5:hover,
.footer .ks-down-footer .ks-down-right .a6:hover {
	color: #000;
}

.footer .ks-down-footer .ks-down-right .a1 {
	height: 16px;
	line-height: 16px;
	background: url(../images/register/02.png) 3.5px 0 no-repeat;
}

.footer .ks-down-footer .ks-down-right .a3 {
	height: 20px;
	line-height: 20px;
	background: url(../images/register/03.png) 1px 0 no-repeat;
}

.footer .ks-down-footer .ks-down-right .a5,
.footer .ks-down-footer .ks-down-right .a6 {
	display: inline-block;
	height: 16px;
	line-height: 16px;
}

.footer .ks-down-footer .ks-down-right .a6 {
	padding-left: 20px;
	background: url(../images/register/04.png) 2px 1px no-repeat;
}